.app {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  color: #EEE;
  font-size: 30px;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}

h1 span {
  color: #AAA;
  font-weight: 200;

}

h1 .icon {
  color: #DDD;
  padding: 0 6px 1px 5px;
  border: 2px solid #DDD;
  box-shadow: inset 0px 6px 0px -3px #DDD;
  border-radius: 3px;
}

h2 {
  color: #999;
  font-weight: 100;
  font-family: 'Roboto-Mono', monospace;
  margin-bottom: 35px;
}

.content {
  flex-grow: 1;
}

.terminal {
  color: #BBB;
  box-shadow: 0 0 12px rgba(0, 0, 0, .3);
}

.terminal .output {
  line-height: 20px;
  font-family: 'Roboto-Mono', monospace;
  background-color: #1A1A1A;
  border-radius: 4px 4px 0 0;
  font-size: 14px;
  color: #AAA;
  width: 42vw;
  height: 400px;
  border-bottom: 1px solid rgba(255, 255, 255, .15);
  padding: 10px;
  overflow: hidden;
}

.input {
  position: relative;
  z-index: 0;
}

.input .icon {
  position: absolute;
  left: 7px;
  top: 7px;
  color: #999;
  z-index: 2;
}

.input input {
  font-family: 'Roboto-Mono', monospace;
  background-color: #222;
  border-radius: 0 0 4px 4px;
  outline: none;
  width: 42vw;
  font-size: 14px;
  padding: 8px 10px 8px 20px;
  border: none;
  color: #BBB;
}

footer {
  width: 100vw;
  text-align: center;
  color: #777;
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
}

.output::-webkit-scrollbar-track {
	border-radius: 0;
	background-color: #171717;
}

.output::-webkit-scrollbar {
	width: 2px;
	background-color: #111;
  border-radius: 0;
}

.output::-webkit-scrollbar-thumb {
	border-radius: 0 4px 0 0;
	background-color: #111;
}

.output .err {
  color: #871010;
}

.output .folder {
  color: rgb(80, 159, 242);
  margin-right: 7px;
}
